@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Expense Tracker</h1>
  
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Ashley</td>
                <td>Ortega</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Danica</td>
                <td>Sta. Teresa</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Kathleen</td>
                <td>Bongayan</td>
                <td>social</td>
            </tr>
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-primary">Next</button>
